{% extends "base.html" %}


{% block title %}
Acerca de

{% endblock %}



{% block content %}
{% load static %}
<div  id="histo">

    <div class="container" >

        <div class="row" id="ro">
             
                 <br>
                 <br>
                 <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                     <div class="wifi">
                         <i class="fa fa-wifi" aria-hidden="true" id="fa"></i>
                     </div>
                     <h1 class="ryr">RyR </h1>
                 </div>
         
                         <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                             <h1 id="titulo2">
                                 Mision
                             </h1>
                             <section id="recuadro2">
                                 <p>
                                     Ofrecer soluciones tecnológicas, innovadoras, ágiles y flexibles enfocadas en la
                                     satisfacción del cliente a través de un equipo humano altamente capacitado, con
                                     pasión e integridad obteniendo resultados que aportan valor a los diferentes grupos
                                     de interés manteniendo un alto sentido de responsabilidad corporativa.
                                 </p>
                                 <i class="fa fa-wifi" aria-hidden="true"></i>
                             </section>
                         </div>
                         
                         <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                             <h1 id="titulo3">
                                 Vision
                             </h1>
                             <section id="recuadro3">
                                 <p>
                                     Ser el proveedor favorito de soluciones de nueva generación para INTERNET,
                                     CONECTIVIDAD Y ENTRETENIMIENTO en los mercados personales e institucionales
                                     satisfaciendo las expectativas de nuestros clientes en Calidad y Costo .
                                 </p>            
                                 <br>
                                 <i class="fa fa-television" aria-hidden="true"></i>
                             </section>
                         </div>
                        
                     </div>
                 </div>
               
                 </div>
             </div>
         </div>
    
    </div>

</div>



{% endblock %}