{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href='{% static "css/RYR.CSS" %}'><!--estilos del header-->
    <link type="text/css" rel="stylesheet" href='{% static "css/carrucel.css" %}'><!--estilos del banner o carrucel-->
    <link type="text/css" rel="stylesheet" href='{% static "css/form.css" %}'>
    <!--estilos del formulario de solicitud de servicio-->
    <link type="text/css" rel="stylesheet" href='{% static "css/planes.css" %}'><!--estilos del pantalla de planes-->
    <link type="text/css" rel="stylesheet" href='{% static "css/footer.css" %}'><!--estilos del footer-->
    <link type="text/css" rel="stylesheet" href='{% static "css/singup.css" %}'>
    <link type="text/css" rel="stylesheet" href='{% static "css/login.css" %}'>

    <link type="text/css" rel="stylesheet" href='{% static "css/acercaDe.css" %}'>
    <link type="text/css" rel="stylesheet" href='{% static "css/Trabaja.css" %}'>
    <link type="text/css" rel="stylesheet" href='{% static "css/configWifi.css" %}'>

    <script src="https://kit.fontawesome.com/f18c17b516.js" crossorigin="anonymous"></script>

    <script type="text/javaScript" src="https://kit.fontawesome.com/f18c17b516.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!--bleque titulo es para cambiar los titulos de las pesaña del navegador-->
    <title>
        {% block title %}{% endblock %}
    </title>

</head>
<div>
    <header class="header">
        <div class="logo">
            <a class="navbar-brand" href="{% url 'index' %}"><img src='{% static "img/menulogo.jpg" %}'
                    alt="logo de RYR"></a>
        </div>

        <nav>
            <ul class="navLef ">
                <li><a href="{% url 'acercaDe' %}">ACERCA DE</a></li>
                <li><a href="{% url 'pago' %}">PAGOS</a></li>
                <li><a href="{% url 'trabajar' %}">TRABAJA CON NOSOTROS</a></li>
                <li><a href="">SERVICIOS</a>
                    <ul class="navLe">
                        <li><a href="{% url 'instalacion' %}">Solicitar Instalacion</a></li>
                        <li><a href="{% url 'reparaciones' %}">Solicitar Reparacion</a></li>
                        <li><a href="{% url 'wifi' %}">Configuracion Wifi</a></li>
                        <li><a href="{% url 'pqr' %}">Instaurar PQR</a></li>
                        <li><a href="{% url 'cobertura' %}">Cobertura</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <nav class="btn">
            <a href="{% url 'singup' %}"> <button>Login</button></a>
            <a href="{% url 'login' %}"><button>Sign Up</button></a>
        </nav>

        <a onclick="openNav()" class="menu" href="#">
            <button>Menu</button>
        </a>

        <div class="overlay" id="mobile-menu">
            <a onclick="closeNav()" class="close" href="">&times;</a>

            <div class="overlay-content">
                <a href="{% url 'acercaDe' %}">Acerca De</a>
                <a href="{% url 'pago' %}">Pagos</a>
                <a href="{% url 'trabajar' %}">Trabaja Con Nosotros</a>
                <a href="{% url 'instalacion' %}">Solicitar Instalacion</a>
                <a href="{% url 'reparaciones' %}">Solicitar Reparacion</a>
                <a href="{% url 'wifi' %}">Configuracion Wifi</a>
                <a href="{% url 'pqr' %}">Instaurar PQR</a>
                <a href="{% url 'cobertura' %}">Cobertura</a>
                <a href="{% url 'singup' %}">Login</a>
                <a href="{% url 'login' %}">Sign Up</a>
            </div>
        </div>
    </header>
</div>

<!--bloque de contenido que cambia en la pagina-->

{% block content %} {% endblock %}


<footer class="footer">
    <h4 id="h4">RYR</h4>
    <h5 id="h5">telecomunicasiones</h5>
    <div class="ploiticas">
        <a href="">Quejas y Reclamos</a>
        <a href="">contactanos</a>
        <a href="">Politicas de privacidad</a>
    </div>
    </div>

    <div class="copi">
        <div class="ring">
            <i class="fa fa-copyright" aria-hidden="true"></i>
            2022 HDFsofware.All rights reserved
        </div>

        <div class="i">
            <a href="https:www.facebook.com/RYRtelecomunicacioness" target="_blank">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/ryrtelecomunicaciones/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://wa.me/573022811186" target="_blank">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
            </a>
        </div>

    </div>

</footer>


<script type="text/javaScript" src='{% static "javaScript/nav.js" %}'></script>
<script type="text/javaScript" src='{% static "javaScript/main.js" %}'></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>
</html>