{% extends "base.html" %}


{% block title %}

RYR

{% endblock %}

{% block content %}
{% load static %}

<main class="carrucel">
    <div class="carrucel-items">
        <div class="carrucel-item">
            <img src='{% static "carrucel/002.jpg" %}' alt="" width="300px" height="300px">
        </div>
        <div class="carrucel-item">
            <img src='{% static "carrucel/003.jpg" %}' alt="" width="300px" height="300px">
        </div>
        <div class="carrucel-item">
            <img src='{% static "carrucel/004.jpg" %}' alt="" width="300px" height="300px">
        </div>
        <div class="carrucel-item">
            <img src='{% static "carrucel/005.jpg" %}' alt="" width="300px" height="300px">
        </div>
        <div class="carrucel-item">
            <img src='{% static "carrucel/006.jpg" %}' alt="" width="300px" height="300px">
        </div>

        <div class="carrucel-item">
            <img src='{% static "carrucel/002.jpg" %}' alt="" width="300px" height="300px">
        </div>
        <div class="carrucel-item">
            <img src='{% static "carrucel/003.jpg" %}' alt="" width="300px" height="300px">
        </div>
        <div class="carrucel-item">
            <img src='{% static "carrucel/004.jpg" %}' alt="" width="300px" height="300px">
        </div>
        <div class="carrucel-item">
            <img src='{% static "carrucel/005.jpg" %}' alt="" width="300px" height="300px">
        </div>
        <div class="carrucel-item">
            <img src='{% static "carrucel/006.jpg" %}' alt="" width="300px" height="300px">
        </div>
    </div>
</main>

<main class="main">
    <div class="row">
        <div class="col-sm-4 col-md-8 col-lg-8 col-xl-8">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong class="text-dark">{{message}}</strong>
            </div>
            {% endfor %}
            {% endif %}

            <div class="card" id="form1">

                <div class="card-body">
                    <div>
                        <h2>SOLICITA TU SERVICIO</h2>
                        <p>Dejanos tu numero de celular o whatsapp</p>
                        <p>para que nustro asesor se comunique con tigo</p>
                        <form action="/registrarCursoHome/" method="POST">{% csrf_token %}
                            <div class="form-group">
                                <input id="txthorario_am" class="form-control" type="number" name="txthorario_am"
                                    placeholder="cedula" minlength="" maxlength="" required>
                            </div>

                            <div class="form-group">
                                <input id="txthorario_pm" class="form-control" type="text" name="txthorario_pm"
                                    placeholder="nombre" minlength="" maxlength="" required>
                            </div>

                            <div class="form-group">
                                <input id="txthorario_descanso" class="form-control" type="tel"
                                    name="txthorario_descanso" placeholder="whatsapp" minlength="1"
                                    maxlength="50" required>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Solicitar Acesoria</button>
                            </div>
                            <input type="checkbox" name="checkbox" id="checkbox">
                            <p>Acepto la<a href="#"> política de privacidad</a></p>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>


<main>
    <h3>Nuestros Planes</h3>
    <h3>
        <i class="fa-solid fa-arrow-right fa-rotate-90"></i>
    </h3>

    <div class="planes">
        <h3> INTERNET & TELEVISION</h3>
        <div class="plan">
            <div>
                <div class="box">
                </div>
                <!---https://www.youtube.com/watch?v=uDqW8bCFhps-->
                <div class="container">
                    <div class="section row">
                        
                        {% for p in planes  %}
                        
                            <section id="recuadro1">
                                <h1 id="titulo1"><a href="{% url 'instalacion' %}">{{p.plan}}</a></h1>
                                <h6>{{p.detalles}}</h6>
                                <h2>$:{{p.precio}}</h2>
                            </section>
                        
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>




{% endblock %}