{% extends "base.html" %}


{% block title %}

Login

{% endblock %}



{% block content %}
{% load static %}
<main>
    <section class="login">
        <div class="imagen">
            <img src='{% static "img/3_n.jpg" %}' alt="" srcset="">
        </div>
       <div class="all">
            <div class="ryr">
                <h1>Crea tu cuenta RyR</h1>
                <img src='{% static "img/agenda.png" %}' width="50" height="50" alt="envio">
            </div>
        <div class="formulario">
            <form action="" method="get">
                <input type="texto" name="" id="" placeholder="Nombre">
                <input type="texto" name="" id="" placeholder="Apellido">
                <input type="texto" name="" id="" placeholder="Cédula">
                <input type="texto" name="" id="" placeholder="Celular">
            </form>  
        </div>
        <div>
            <button class="bnt-ingres"> Enviar </button>
        </div>
       </div>  
    </section>
</main>
   
{% endblock %}

   
   

