{% extends "navBar.html" %}
{% load static %}

{% block title %}PQR{% endblock %}
    
{% block content %}

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illum dolorem repellendus repudiandae aspernatur ipsum laudantium deleniti delectus? Voluptatibus magni modi, minus consequuntur ipsa mollitia numquam quos fugit ullam libero.
Facilis modi dignissimos quo, nulla natus nisi exercitationem numquam quasi corporis ullam quis aperiam culpa ab. Perferendis laboriosam soluta dolore, blanditiis ipsa nesciunt saepe praesentium maiores ipsum eligendi fuga! Id.
Saepe deleniti reprehenderit, eveniet voluptatibus ducimus ab nobis. Animi tenetur facere obcaecati dignissimos praesentium, maxime non saepe quo qui ad eius error rem, libero repellat nisi necessitatibus officiis veniam aliquam.
Expedita ullam dignissimos reiciendis vero et, aut ratione, repellendus maxime nostrum impedit necessitatibus ipsum voluptatibus dolorum! Eos quae nisi suscipit deserunt, deleniti doloribus rerum ut earum vitae eligendi architecto excepturi?
Officiis maxime quos quia asperiores voluptates pariatur possimus architecto, facilis commodi vero dolorem suscipit numquam voluptatibus cupiditate ipsa voluptatem corporis ratione inventore consequatur ducimus neque. Provident quibusdam facilis quod deleniti?</p>


{% endblock %} 
