.login{
    display: flex;
    background: blue;
}
.imagen{
    display: block;
}
.all{
    display: block;
    background: orange;
    width: 500px;
    height: auto;
    border: none;
    border-radius: 10px;
    align-items: center;
    margin:1px 5%;
    margin-left: 120px;
    text-align:center;
}
.ryr{
    display: block;
    font-size:12px;
    margin-top: 10px; 
    color: blue;    
}   
.formulario{
    display: block;
    margin-top: 10px;
}
.formulario input{
    align-items: center;
    display: block;
    margin:0 20%;
    width: 350px;
    border: none;
    border-radius: 40px;
}
.formulario label{
    margin: 0;
    padding: 0;
}
.bnt-ingres{
    color: gray;
    width: 300px;
    margin: 20px 0px;
    margin-left: 90px;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: rgb(115, 115, 248);
    font-size: 1em;
    font-weight:bold;
    text-align:center;
    margin-right:100px;
    cursor: pointer;
    transition: all 0.3s;
    }

button:hover{
        background: rgb(79, 137, 246);
        transform: scale(1.1);
        
    }


@media screen and (max-width:800px) {

    .imagen{
        display: none;
    }
    .login{
        align-items: center;
        display: block;       
        width: 100%;
        height: 100%;
    }
    .formulario{
        margin: 0;
        padding:0;
    }
    .all{
       width: auto;
        margin: 5px;
        padding:0;
    }
    .formulario input{
        width: 200px;
        height: 40px;
        font-size: 1em;  
        
    }

    .bnt-ingres{
        margin: 0;
        padding: 0;
    }
    .bnt-ingres{
        width: 200px;
        margin-bottom: 4px;
        height: 40px;
        font-size: 1em;
        
        
    }
    .ryr{
        margin: 0;
        
    }


    }
    