 


.login{
    display: flex;
    background: blue;
}
.imagen{
    display: block;
}
.all{
    background: orange;
    width: 470px;
    height: 590px;
    border: none;
    border-radius: 10px;
    align-items: center;
    margin: 5%;
    margin-left: 120px;
    text-align:center;
}
.ryr{
    display: block;
    font-size:16px;
    margin-top: 20px; 
    color: blue;    
}
.formulario{
    display: block;
    margin-top: 30px;
}
.formulario input{
    display: block;
    margin: 5%;
    padding: 10px;
    width: 400px;
    border: none;
    border-radius: 40px;
}
.bnt-ingres{
    color: gray;
    width: 300px;
    margin: 20px 0px;
    margin-left: 90px;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: rgb(115, 115, 248);
    font-size: 1em;
    font-weight:bold;
    text-align:center;
    margin-right:100px;
    cursor: pointer;
    transition: all 0.3s;
    }

button:hover{
        background: rgb(79, 137, 246);
        transform: scale(1.1);
        
    }