.planes{
    
    align-items: center; 
    background: white;
    padding: 10px 0;
    margin: 10px 0;
    width: auto;
 }

.plan{
    position: relative;
    display: flex;
}

.section{
    position:relative ;
    display: flex;
    padding: 20px;
    margin: 10px;
}



#recuadro1{
    border: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    box-shadow: 10px 10px 10px 10px  #aaa;
    border-radius: 7px;
    background-color:#fbf8f8;
    width:300px;
    padding:10px;
    margin:10px 30px;
    
   }

h3{
    width:auto;
    padding: 10px;
    margin: 20px;
    text-align: center;
}
.box{
    position: absolute;
    width: 340px;
    height: 340px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    border-radius: 300px;
    background: #F1E4FF;

}

@media screen and (max-width:800px) {
  .box{
    display: none;
  }
  .plan,.section{
    display: block;
  }
    
}
