.rows{
    background: blue;
}

.singup{
    display: flex;
   
}
.img{
    display: block;
}
.todo{   
    background: orange;
    width: 470px;
    height: 590px;
    border: none;
    border-radius: 10px;
    align-items: center;
    margin: 5%;
    margin-left: 120px;
    text-align:center;
}
.cuenta{
    display: block;
    font-size:16px;
    margin-top: 20px; 
    color: blue;    
}
.formulari{   
    display: block;
    margin-top: 30px;
}
.formulari input{
    display: block;
    margin: 5%;
    padding: 10px;
    width: 400px;
    border: none;
    border-radius: 40px;
}
.btnEnviar{
    color: gray;
    width: 300px;
    margin: 20px 0px;
    margin-left: 90px;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: blue;
    font-size: 1em;
    font-weight:bold;
    text-align:center;
    margin-right:100px;
    cursor: pointer;
    transition: all 0.3s;
    }

button:hover{
        background: rgb(79, 137, 246);
        transform: scale(1.1);
        
    }
@media screen and (max-width:800px) {
    .img{
        display: none;
    }
    .singup{
        margin: 5px;
        align-items: center;
        display: block;
        width: auto;
        
    }
    .formulari{
    
        margin: 0;
        padding:0;
    }
    .todo{
        width: 100%;
        margin: 0;
        padding:0;
        
    }
    .formulari input{
        width: 200px;
        margin: 20px 0px;
        margin-left:100px;
        height: 40px;
        
        
    }

    .btnEnviar{
        width: 200px;
        
        margin-left:100px;
        height: 40px;
    }
    .rows{
        width: auto;
    }

}


   
