{% extends "base.html" %}


{% block title %}
Acerca de

{% endblock %}



{% block content %}
{% load static %}

<div id="histo">
        <br>
        <br>
    <h1 class="ryr">RyR </h1>

<div class="sectionAcer">
    <h1 id="titulo2">
        Mision
    </h1>
    <section id="recuadro2">
        <p>
            Ofrecer soluciones tecnológicas, innovadoras, ágiles y flexibles enfocadas en la
            satisfacción del cliente a través de un equipo humano altamente capacitado, con
            pasión e integridad obteniendo resultados que aportan valor a los diferentes grupos
            de interés manteniendo un alto sentido de responsabilidad corporativa.
        </p>
        <i class="fa fa-wifi" aria-hidden="true"></i>
    </section>

    <h1 id="titulo3">
        Vision  
    </h1>
    <section id="recuadro3">
        <p>
            Ser el proveedor favorito de soluciones de nueva generación para INTERNET,
            CONECTIVIDAD Y ENTRETENIMIENTO en los mercados personales e institucionales
            satisfaciendo las expectativas de nuestros clientes en Calidad y Costo .
        </p>
        <br>
        <br>
        <i class="fa fa-television" aria-hidden="true"></i>
    </section>
</div>
<div class="wifi">
    <i class="fa fa-wifi" aria-hidden="true" id="fa"></i>
</div>
</div>
<br>

{% endblock %}

        
            
 