{% load static %}



    <header class="header">
        <div class="logo">
            <img src='{% static "img/menulogo.jpg" %}' alt="logo de RYR">
        </div>
        <nav >
            <ul class="navLef">
               <li><a href="{% url 'acercaDe' %}">ACERCA DE</a></li>
               <li><a href="{% url 'pago' %}">PAGOS</a></li>             
               <li><a href="{% url 'trabajo' %}">TRABAJA CON NOSOTROS</a></li>
               <li><a href="">SERVICIOS</a>
                    <ul class="navLe">
                        <li><a href="{% url 'instalacion' %}">Solicitar Instalacion</a></li>
                        <li><a href="{% url 'reparaciones' %}">Solicitar Reparacion</a></li>
                        <li><a href="{% url 'wifi' %}">Configuracion Wifi</a></li>
                        <li><a href="{% url 'pqr' %}">Instaurar PQR</a></li>
                        <li><a href="{% url 'cobertura' %}">Cobertura</a></li> 
                    </ul>                   
               </li>
            </ul>
        </nav>
        <nav class="btn">
          <a href="login.html"> <button >Login</button></a> 
           <a href="singup.html"><button>Sign Up</button></a> 
        </nav>
    </header>
