{% extends "base.html" %}


{% block title %}

RYR

{% endblock %}

{% block content %}
{% load static %}
   
        <main class="carrucel">
            <div class="carrucel-items">
                <div class="carrucel-item">
                    <img src='{% static "carrucel/002.jpg" %}' alt="" width="300px" height="300px">
                </div>
                <div class="carrucel-item">
                    <img src='{% static "carrucel/003.jpg" %}' alt="" width="300px" height="300px">
                </div>
                <div class="carrucel-item">
                    <img src='{% static "carrucel/004.jpg" %}' alt="" width="300px" height="300px">
                </div>
                <div class="carrucel-item">
                    <img src='{% static "carrucel/005.jpg" %}' alt="" width="300px" height="300px">
                </div>
                <div class="carrucel-item">
                    <img src='{% static "carrucel/006.jpg" %}' alt="" width="300px" height="300px">
                </div>
                
                <div class="carrucel-item">
                    <img src='{% static "carrucel/002.jpg" %}' alt="" width="300px" height="300px">
                </div>
                <div class="carrucel-item">
                    <img src='{% static "carrucel/003.jpg" %}' alt="" width="300px" height="300px">
                </div>
                <div class="carrucel-item">
                    <img src='{% static "carrucel/004.jpg" %}' alt="" width="300px" height="300px">
                </div>
                <div class="carrucel-item">
                    <img src='{% static "carrucel/005.jpg" %}' alt="" width="300px" height="300px">
                </div>
                <div class="carrucel-item">
                    <img src='{% static "carrucel/006.jpg" %}' alt="" width="300px" height="300px">
                </div>
            </div>
        </main>

        <main class="main">
            <div id="form1">
                <div class="form-for1">
                    <h2>SOLICITA TU SERVICIO</h2>
                    <p>Dejanos tu numero de celular o whatsapp</p>
                    <p>para que nustro asesor se comunique con tigo</p>
                </div>  
               
                <form class="form-input" action="" method="get">              
                    <input type="text" class="form-control form-control-sm" id="colFormLabel" placeholder=" Nombre ">
                    <input type="name" class="form-control form-control-sm" id="colFormLabel" placeholder=" Contraseña ">
                        <div class="enviar">
                            <input type="checkbox" name="checkbox" id="checkbox">
                                <p>Acepto la<a href=""> política de privacidad</a></p>
                            <button >Enviar</button>
                        </div>
                </form>
            </div>

            <h3>Nuestros Planes</h3>
            <h3>
                <i class="fa-solid fa-arrow-right fa-rotate-90"></i>
            </h3> 
            
            <div class="planes">
                <h3> INTERNET & TELEVISION</h3>
                    <div class="plan">
                        <div>
                            <div class="box">              
                            </div>
                            
                            <div class="section">
                            <section id="recuadro1">
                                <h1 id="titulo1">
                                Tv + Internet 7MG
                                </h1>
                                <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa delectus iste impedit assumenda 
                                illum saepe pariatur tempore. Nulla at natus asperiores distinctio earum, voluptas magni doloribus 
                                quae officia temporibus maxime?  
                                </p>
                            </section>
                            <section id="recuadro1">
                                <h1 id="titulo1">
                                Tv + Internet 15MG
                                </h1>
                                <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa delectus iste impedit assumenda 
                                illum saepe pariatur tempore. Nulla at natus asperiores distinctio earum, voluptas magni doloribus 
                                quae officia temporibus maxime?  
                                </p>
                            </section>
                            <section id="recuadro1">
                                <h1 id="titulo1">
                                Tv + Internet 30MG
                                </h1>
                                <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa delectus iste impedit assumenda 
                                illum saepe pariatur tempore. Nulla at natus asperiores distinctio earum, voluptas magni doloribus 
                                quae officia temporibus maxime?  
                                </p>
                            </section>
                            </div>
                        
                            <div class="section">
                            <section id="recuadro1">
                                <h1 id="titulo1">
                                Tv + Internet 50MG
                                </h1>
                                <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa delectus iste impedit assumenda 
                                illum saepe pariatur tempore. Nulla at natus asperiores distinctio earum, voluptas magni doloribus 
                                quae officia temporibus maxime?  
                                </p>
                            </section>
                            <section id="recuadro1">
                                <h1 id="titulo1">
                                Tv + Internet 100MG
                                </h1>
                                <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa delectus iste impedit assumenda 
                                illum saepe pariatur tempore. Nulla at natus asperiores distinctio earum, voluptas magni doloribus 
                                quae officia temporibus maxime?  
                                </p>
                            </section>
                            <section id="recuadro1">
                                <h1 id="titulo1">
                                Tv + Internet 500MG
                                </h1>
                                <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa delectus iste impedit assumenda 
                                illum saepe pariatur tempore. Nulla at natus asperiores distinctio earum, voluptas magni doloribus 
                                quae officia temporibus maxime?  
                                </p>
                            </section>
                            </div>
                        </div> 
                    </div>               
            </div>
        </main>
    </div>    
{% endblock %}

        